# Output Preparation for the Nord_H2ub Spine Model

This jupyter notebook contains all routines for the preparation of the input data sources into a input data file for the model in Spine.

Authors: Johannes Giehl (jfg.eco@cbs.dk), Dana J. Hentschel (djh.eco@cbs.dk)

## General settings

### Packages:

In [1]:
import pandas as pd
import os
import openpyxl
import numpy as np

In [2]:
def present_value_factor(n, r):
    """
    Calculate the present value factor of an annuity (Rentenbarwertfaktor).

    Parameters:
    n (int): The number of periods (time horizon).
    r (float): The discount rate (WACC).

    Returns:
    float: The present value factor of the annuity.
    """
    if r == 0:
        return n
    else:
        return (1 - (1 + r) ** -n) / r

### define parameters

In [3]:
#parameters for present_value_factor calculation
time_horizon = 25  # Number of periods (years)
wacc = 0.05        # Discount rate

### define variables

In [4]:
excel_name = 'output_last_run'

### File paths:

In [5]:
#parent folder
parent_folder = '../02_basic_energy_model/.spinetoolbox/items/exporter/output'
folders = [f for f in os.listdir(parent_folder) if os.path.isdir(os.path.join(parent_folder, f))]
if not folders:
    print("No folders found.")
else:
    latest_folder = max(folders, key=lambda x: os.path.getmtime(os.path.join(parent_folder, x)))
    latest_folder_path = os.path.join(parent_folder, latest_folder)
latest_folder_path = latest_folder_path.replace('\\', '/')
folder_path = latest_folder_path
folder_path += '/'

#prepared input data
output_file_path = '../02_output_data/01_basic_energy_model_outputs/'

In [6]:
#set the name of the relevant files
#input file
output_old = 'Output_exported.xlsx'

## Workflow of the data preparation

### Data Import

In [7]:
df_output_raw = pd.read_excel(folder_path + output_old, sheet_name=-1)
df_PV_prices = pd.read_excel('../01_input_data/02_input_prepared/Maersk_Example_Input_prepared.xlsx', sheet_name='Energy_prices')

### data frame preparation

In [8]:
#create a copy of the original output DataFrame
df_output = df_output_raw.copy()

# Replace NaN values with empty strings in the first three rows
df_output.iloc[:3] = df_output.iloc[:3].fillna('')

# Combine the old header with the strings from the first three rows for each column
new_headers = df_output.columns + '_' + df_output.iloc[0] + '_' + df_output.iloc[1] + '_' + df_output.iloc[2]

# Set the new headers
df_output.columns = new_headers

# Drop the first three rows
#df = df.drop([0, 1, 2])

# Reset the index
df_output.reset_index(drop=True, inplace=True)

# Rename the first column to "timeseries"
df_output.columns.values[0] = "timeseries"

### data adjustments

In [9]:
#calculate revenues from PV sales on the wholesale market
selected_column_name = None
for column_index in range(len(df_output.columns)):
    if df_output.iloc[0, column_index] == 'power_line_Wholesale_Kasso' \
        and df_output.iloc[1, column_index] == 'to_node' \
        and df_output.iloc[2, column_index] == 'Power_Wholesale':
        selected_column_name = df_output.columns[column_index]
        break

if selected_column_name:
    df_output['Revenue_from_PV'] = df_output[selected_column_name].iloc[3:] * df_PV_prices['Power_Wholesale_Out'].iloc[4]
else:
    print("Column with specified headers not found in output.")

In [10]:
#get total cost of the system
total_costs = df_output.filter(like='costs').iloc[3]
#get total revenue form PV power sale (times -1 is relevant as the input is structured that negative prices for exports reduce total cost). 
total_PV_revenue = df_output['Revenue_from_PV'].sum()*(-1)
#calculate cost without PV revenue
adjusted_costs = total_costs - total_PV_revenue

#create separate DataFrame for total and adjusted cost
df_system_cost_output = pd.DataFrame()
df_system_cost_output['Total_cost'] = total_costs
df_system_cost_output['PV_revenue'] = total_PV_revenue
df_system_cost_output['Total_adjusted_cost'] = adjusted_costs

In [11]:
# Identify columns to drop
columns_to_drop_1 = df_output.filter(like='costs').columns
# Drop the identified columns
df_output.drop(columns=columns_to_drop_1, inplace=True)

#test this and implement an if check
#columns_to_drop_2 = df_output.filter(like='unit_flow_op').columns
#df_output.drop(columns=columns_to_drop_2, inplace=True)

## calculate LCOE

calculation of levelized cost of energy

### calculate investment cost

In [12]:
#implementation of either from the existing capacity as input from the model
#or if no input capacity is defined as max capacity used in the model

#electrolysis
investment_electrolysis = 50000000

#methanol plant
investment_methanol = 50000000

#hydrogen storage
investment_hydrogen_storage = 50000000

#hydrogen storage
investment_methanol_storage = 50000000

#further components like CO2 vaporizer, steam engine etc. 
#relevant to have a routine that identifies the units automatically. 

total_investment = investment_electrolysis + investment_methanol + investment_hydrogen_storage + investment_methanol_storage

In [13]:
df_system_cost_output

                       Total_cost    PV_revenue Total_adjusted_cost
total_costs_toy__  9822379.098829  5.790770e+06      4031609.486008

### variable costs

In [14]:
#get annual costs
annual_costs = df_system_cost_output.loc['total_costs_toy__', 'Total_adjusted_cost']

### energy output

In [15]:
#energy output
energy_output_methanol = df_output.filter(like='Tower_to_node_E-Methanol_Kasso')

# Convert strings to numbers, ignoring non-numeric values (relevant as first rows are strings)
energy_output_methanol_value = pd.to_numeric(energy_output_methanol.iloc[:,0], errors='coerce').sum()

In [16]:
#calculation of the present value factor
pcf_value = present_value_factor(time_horizon, wacc)

LCOE = (total_investment + (annual_costs * pcf_value)) / (energy_output_methanol_value * pcf_value)
LCOE

100.92828806398074

### Creating one combined excel and export

In [17]:
with pd.ExcelWriter(output_file_path + excel_name + '.xlsx') as writer:
    df_output.to_excel(writer, sheet_name='flows_node_states')
    df_system_cost_output.to_excel(writer, sheet_name='system_costs')