# Data Preparation for the Nord_H2ub Spine Model

This jupyter notebook contains all routines for the preparation of the input data sources into a input data file for the model in Spine. 

**Authors:** Johannes Giehl (jfg.eco@cbs.dk), Dana J. Hentschel (djh.eco@cbs.dk)

## General settings

### Packages:

In [1]:
import numpy as np
import pandas as pd
from datetime import timedelta

### Methods:

In [2]:
#load the functions and methods from the corresponding file
from nord_h2ub_data_preparation_functions import *

### Base parameters

In [3]:
#define year and create time stamp
year = 2019   #change to desired year
start_date = pd.Timestamp(str(year) + '-01-01 00:00:00')
end_date = pd.Timestamp(str(year) + '-12-31 23:00:00')
#set area
area = 'DK1'   #change to desired area
#set product
product = 'methanol'   #change to desired product
#scenario
scenario = 'Base'
#frequency model
frequency = '1h'
#model name
model_name = 'toy'
#temporal block
temporal_block = 'hourly'
#stochastics
stochastic_scenario = "realisation"
stochastic_structure = "deterministic"
#required reports
report_name = 'Report'
reports = ['unit_flow', 'connection_flow', 'node_state', 'total_costs', 'unit_flow_op']

### File paths

In [4]:
#set path to correct folders

#input data
excel_file_path = '../01_input_data/01_input_raw/'
#prepared input data
output_file_path = '../01_input_data/02_input_prepared/'

In [5]:
#set name of the relevant files

Model_structure_file = '/Model_Data_Base.xlsx'
variable_efficiency_file = '/variable_efficiency.xlsx'

PV_data_availabilityfactors = 'PV_availability_factors_Kasso_' + str(year) + '.xlsx'
data_powerprices = 'Day_ahead_prices_' + str(year) + '.xlsx'

#output file
output_file_name = product+'_Input_prepared.xlsx'


## Workflow of the data preparation

### General parameters

In [6]:
#date index
date_index = pd.date_range(start=start_date, end=end_date, freq='H')
formatted_dates = date_index.strftime('%Y-%m-%dT%H:%M:%S')
df_formatted_dates = pd.DataFrame(formatted_dates, columns=['DateTime'])

df_time = pd.DataFrame(df_formatted_dates)

### Data import

In [7]:
#read in the model structure from a new excel
df_model_units = pd.read_excel(excel_file_path + product + Model_structure_file, sheet_name='Units', index_col=None)
df_model_connections = pd.read_excel(excel_file_path + product + Model_structure_file, sheet_name='Connections', index_col=None)
df_model_storages = pd.read_excel(excel_file_path + product + Model_structure_file, sheet_name='Storages', index_col=None)
#Variable efficiency
df_variable_efficiency = pd.read_excel(excel_file_path + product + variable_efficiency_file, sheet_name='Variable_Eff', header=None)
#Availability factor
df_PV_availabilityfactors_values = pd.read_excel(excel_file_path+PV_data_availabilityfactors, skiprows=2, usecols=[0,1,2,3,4,5])
#Power prices
df_powerprices_total_values = pd.read_excel(excel_file_path+data_powerprices)
#only extracting the prices from our earlier defined area
df_powerprices_values = df_powerprices_total_values[df_powerprices_total_values['PriceArea'] == area]
df_powerprices_values = df_powerprices_values.reset_index(drop=True)

### Adjustments

#### Adjust base elements:

In [8]:
#Create a dataframe for units
df_units = df_model_units[['Unit']].copy()
df_units['Category'] = 'unit'
#df_units['fom_cost'] = df_model_units[['fom_cost']]
df_units = df_units.rename(columns={'Unit': 'Object_Name'})

#Create a dataframe for connections
df_connections = df_model_connections[['Connection']].copy()
df_connections['Category'] = 'connection'
df_connections = df_connections.rename(columns={'Connection': 'Object_Name'})
#df_connections['fom_cost'] = df_model_connections[['fom_cost']]

#create a list of nodes of the model
U_input1_nodes = df_model_units['Input1'].tolist()
U_input2_nodes = df_model_units['Input2'].tolist()
U_output1_nodes = df_model_units['Output1'].tolist()
U_output2_nodes = df_model_units['Output2'].tolist()
C_input1_nodes = df_model_connections['Input1'].tolist()
C_input2_nodes = df_model_connections['Input2'].tolist()
C_output1_nodes = df_model_connections['Output1'].tolist()
C_output2_nodes = df_model_connections['Output2'].tolist()

# Combine values from both columns into a single list
All_nodes_list = U_input1_nodes+U_input2_nodes+U_output1_nodes+U_output2_nodes+C_input1_nodes+C_input2_nodes+C_output1_nodes+C_output2_nodes

# Create a list with unique entries
unique_nodes_list = list(set(All_nodes_list))

#Create a dataframe for nodes
df_nodes = pd.DataFrame(unique_nodes_list, columns=['Object_Name'])
df_nodes['Category'] = 'node'
df_nodes = df_nodes.dropna()

#Combined dataframe
df_definition = pd.concat([df_units, df_nodes, df_connections], ignore_index=True)

df_definition.head()

         Object_Name Category
0  Solar_Plant_Kasso     unit
1       Electrolyzer     unit
2      CO2_Vaporizer     unit
3  Destilation_Tower     unit
4   Methanol_Reactor     unit

In [9]:
#create a data frame for all parameters of units

#add fixed operation and maintenance cost
unit_fom_cost_df = create_unit_parameters(df_model_units, 'Unit', 'fom_cost')
#add unit minimal downtime
unit_min_down_time_df = create_unit_parameters(df_model_units, 'Unit', 'min_down_time')
#add unit on cost
unit_on_cost_df = create_unit_parameters(df_model_units, 'Unit', 'unit_on_cost')

connection_fom_cost_df = create_unit_parameters(df_model_connections, 'Connection', 'fom_cost')

#create a complete data frame with all parameters
unit_parameters_df = pd.concat([unit_fom_cost_df, unit_on_cost_df, unit_min_down_time_df, connection_fom_cost_df], ignore_index=True)
unit_parameters_df

C:\Users\jfg.eco\Documents\GitHub\Nord_H2ub\spine_projects\01_input_data\nord_h2ub_data_preparation_functions.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  unit_parameter_df = pd.concat([unit_parameter_df, pd.DataFrame([new_row])], ignore_index=True)
C:\Users\jfg.eco\Documents\GitHub\Nord_H2ub\spine_projects\01_input_data\nord_h2ub_data_preparation_functions.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  unit_parameter_df = pd.concat([unit_parameter_df, pd.DataFrame([new_row])], ignore_index=True)

,Object_Name,Category,parameter,value
0,Solar_Plant_Kasso,unit,fom_cost,1.29
1,Electrolyzer,unit,fom_cost,4.34
2,Methanol_Reactor,unit,fom_cost,4.45
3,Methanol_Reactor,unit,min_down_time,48h
4,Methanol_Reactor,unit,online_variable_type,unit_online_variable_type_integer
5,power_line_Wholesale_Kasso,connection,fom_cost,100.0

In [10]:
#create a new data frame for parameters that are given as durations
#necessary as SpineToolbox needs a separate input to map the parameter correctly

duration_parameter = 'min_down_time'
unit_parameters_duration_df = unit_parameters_df[unit_parameters_df['parameter'] == duration_parameter]
# Resetting the index
unit_parameters_duration_df = unit_parameters_duration_df.reset_index(drop=True)

# Creating another DataFrame with rows that do not meet the condition
unit_parameters_rest_df = unit_parameters_df[unit_parameters_df['parameter'] != duration_parameter]
unit_parameters_rest_df

,Object_Name,Category,parameter,value
0,Solar_Plant_Kasso,unit,fom_cost,1.29
1,Electrolyzer,unit,fom_cost,4.34
2,Methanol_Reactor,unit,fom_cost,4.45
4,Methanol_Reactor,unit,online_variable_type,unit_online_variable_type_integer
5,power_line_Wholesale_Kasso,connection,fom_cost,100.0

In [11]:
#create the balance type of the nodes
columns_to_select = ['Input1', 'Input2', 'Output1', 'Output2']
df_combined = pd.concat([df_model_units, df_model_connections])
df_combined = df_combined.reset_index(drop=True)

df_nodes_network = create_connection_dataframe(df_combined, columns_to_select)

# Get unique values from the 'in' column
unique_in_values = df_nodes_network['in'].dropna().unique()

# Identify values in 'in' column not present in 'out' column
values_not_in_out = unique_in_values[~pd.Series(unique_in_values).isin(df_nodes_network['out'].dropna().unique())]

# Get unique values from the 'in' column
unique_out_values = df_nodes_network['out'].dropna().unique()

# Identify values in 'in' column not present in 'out' column
values_not_in_in = unique_out_values[~pd.Series(unique_out_values).isin(df_nodes_network['in'].dropna().unique())]

#create list of unique nodes that are either start or end nodes
unique_nodes = values_not_in_out.tolist() + values_not_in_in.tolist()
unique_nodes

df_nodes_network.replace(np.nan, None, inplace=True)

#check for combinations that are mirrored
mirrored_combinations = find_mirror_combinations(df_nodes_network)

#get information of connections for each node
partners_dict1 = find_partners(df_nodes_network)
partners_dict2 = find_partners(mirrored_combinations)

#check both lists if there are identical entries and list nodes that only have a connection to the same node
#storages are removed as they must be balanced
nodes_identical = find_identical_entries(partners_dict1, partners_dict2)

#combined list of start and end nodes that should be unbalanced
unbalanced_nodes = nodes_identical + unique_nodes

df_nodes['balance_type'] = 'balance_type_node'
df_nodes.loc[df_nodes['Object_Name'].isin(unbalanced_nodes), 'balance_type'] = 'balance_type_none'

In [12]:
#add has_state_node_state_cap and frac_state_loss
df_storages_short = df_model_storages.loc[:, ['Storage', 'has_state', 'node_state_cap', 'frac_state_loss']].rename(columns={'Storage': 'Object_Name'})
df_storages_short['has_state'] = df_storages_short['has_state'].astype(str).str.lower().replace('true', 'true')

df_nodes = pd.merge(df_nodes, df_storages_short, on='Object_Name', how='left')
df_nodes.head()

,Object_Name,Category,balance_type,has_state,node_state_cap,frac_state_loss
0,Hydrogen_storage_Kasso,node,balance_type_node,true,100000.0,0.0
1,District_Heating,node,balance_type_none,NaN,NaN,NaN
2,Power_Kasso,node,balance_type_node,NaN,NaN,NaN
3,Hydrogen_Kasso,node,balance_type_node,NaN,NaN,NaN
4,Vaporized_Carbon_Dioxide,node,balance_type_node,NaN,NaN,NaN

In [13]:
#create a dataframe with all nodes that should have a slack based on the unit input and outputs
nodes_for_slack_df = check_entries_exist(df_model_units, 'node')
#merge the information into the prepared data frame
merged_df = pd.merge(df_nodes, nodes_for_slack_df, left_on='Object_Name', right_on='node', how='left')
merged_df = merged_df.drop(columns=['node'])
merged_df['node_slack_penalty'] = merged_df['node_slack_penalty'].replace({True: 100000, False: ''})
#create a dataframe with all nodes that should have a slack based on the connection input and outputs
nodes_for_slack_df2 = check_entries_exist(df_model_connections, 'connection')
#merge the information into the prepared data frame
merged_df2 = pd.merge(df_nodes, nodes_for_slack_df2, left_on='Object_Name', right_on='connection', how='left')
merged_df2 = merged_df2.drop(columns=['connection'])
merged_df2['node_slack_penalty'] = merged_df2['node_slack_penalty'].replace({True: 100000, False: ''})
#link the information about the slack of both data frames
merged_df2['node_slack_penalty'] = merged_df['node_slack_penalty'].combine_first(merged_df2['node_slack_penalty'])
#clean the information that only nodes with 'balance_type_node' have a penalty
merged_df2.loc[merged_df2['balance_type'] == 'balance_type_none', 'node_slack_penalty'] = ''
#add the information into the df_nodes
df_nodes['node_slack_penalty'] = merged_df2['node_slack_penalty']

#show table head for control
df_nodes.head()

,Object_Name,Category,balance_type,has_state,node_state_cap,frac_state_loss,node_slack_penalty
0,Hydrogen_storage_Kasso,node,balance_type_node,true,100000.0,0.0,100000
1,District_Heating,node,balance_type_none,NaN,NaN,NaN,
2,Power_Kasso,node,balance_type_node,NaN,NaN,NaN,100000
3,Hydrogen_Kasso,node,balance_type_node,NaN,NaN,NaN,100000
4,Vaporized_Carbon_Dioxide,node,balance_type_node,NaN,NaN,NaN,100000

In [14]:
#Add parameters for connections
df_connections = df_model_connections.loc[:, ['Connection', 'Connection_type']]
insert_index=1
parameter_name = ['connection_type']*len(df_connections)
df_connections.insert(insert_index, 'Parameter_name', parameter_name)
#show table for control
df_connections.head()

,Connection,Parameter_name,Connection_type
0,power_line_Wholesale_Kasso,connection_type,connection_type_lossless_bidirectional
1,pipeline_storage_hydrogen,connection_type,connection_type_lossless_bidirectional
2,pipeline_storage_e-methanol,connection_type,connection_type_lossless_bidirectional
3,pipeline_District_Heating,connection_type,connection_type_normal

#### Times series:

In [15]:
#adjust PV columns names
df_PV_availabilityfactors_values.rename(columns={'time': 'time [UTC]', 
                                                 'local_time': 'time [' + area + ']',
                                                 'electricity': 'unit_availability_factor'}, inplace=True)
df_powerprices_values.rename(columns={'HourUTC': 'time [UTC]', 
                                         'HourDK': 'time [' + area + ']'}, inplace=True)

### Fitting data into format

#### Relationships:

Object__from/to_node:

In [16]:
### UNITS ###
# Initialize an empty list to store the transformed data
unit_relation_parameter_data = []

# Iterate over each row in the DataFrame
for index, row in df_model_units.iterrows():
    unit = row['Unit']

    # Iterate over Input and Output columns
    for i in range(1, 3):
        input_col = f'Input{i}'
        output_col = f'Output{i}'
        cap_input_col = f'Cap_{input_col}_existing'
        cap_output_col = f'Cap_{output_col}_existing'
        vom_cost_input_col = f'vom_cost_{input_col}'
        vom_cost_output_col = f'vom_cost_{output_col}'
        ramp_up_output_col = f'ramp_up_{output_col}'
        ramp_down_output_col = f'ramp_down_{output_col}'
        start_up_output_col = f'start_up_{output_col}'
        shut_down_output_col = f'shut_down_{output_col}'
        minimum_op_point_col = f'minimum_op_point_{output_col}'

        # Check for Input columns
        input_value = row[input_col]
        input_capacity = row[cap_input_col]
        vom_cost_input = row[vom_cost_input_col]

        if pd.notna(input_value):
            unit_relation_parameter_data.append({
                'Relationship_class_name': 'unit__from_node',
                'Object_class': 'unit',
                'Object_name': unit,
                'Node': input_value,
                'Parameter': 'unit_capacity' if pd.notna(input_capacity) else '',
                'Value': input_capacity if pd.notna(input_capacity) else ''
            })
        
            if pd.notna(input_value) and pd.notna(vom_cost_input):
                unit_relation_parameter_data.append({
                    'Relationship_class_name': 'unit__from_node',
                    'Object_class': 'unit',
                    'Object_name': unit,
                    'Node': input_value,
                    'Parameter': 'vom_cost',
                    'Value': vom_cost_input
                })


        # Check for Output columns
        output_value = row[output_col]
        output_capacity = row[cap_output_col]
        vom_cost_output = row[vom_cost_output_col]
        ramp_up_output = row[ramp_up_output_col]
        ramp_down_output = row[ramp_down_output_col]
        start_up_output = row[start_up_output_col]
        shut_down_output = row[shut_down_output_col]
        minimum_op_output = row[minimum_op_point_col]

        if pd.notna(output_value):
            unit_relation_parameter_data.append({
                'Relationship_class_name': 'unit__to_node',
                'Object_class': 'unit',
                'Object_name': unit,
                'Node': output_value,
                'Parameter': 'unit_capacity' if pd.notna(output_capacity) else '',
                'Value': output_capacity if pd.notna(output_capacity) else ''
            })
        
            if pd.notna(output_value) and pd.notna(vom_cost_output):
                unit_relation_parameter_data.append({
                    'Relationship_class_name': 'unit__to_node',
                    'Object_class': 'unit',
                    'Object_name': unit,
                    'Node': output_value,
                    'Parameter': 'vom_cost',
                    'Value': vom_cost_output
                })

            if pd.notna(output_value) and pd.notna(ramp_up_output):
                unit_relation_parameter_data.append({
                    'Relationship_class_name': 'unit__to_node',
                    'Object_class': 'unit',
                    'Object_name': unit,
                    'Node': output_value,
                    'Parameter': 'ramp_up_limit',
                    'Value': ramp_up_output
                })

            if pd.notna(output_value) and pd.notna(ramp_down_output):
                unit_relation_parameter_data.append({
                    'Relationship_class_name': 'unit__to_node',
                    'Object_class': 'unit',
                    'Object_name': unit,
                    'Node': output_value,
                    'Parameter': 'ramp_down_limit',
                    'Value': ramp_down_output
                })
            
            if pd.notna(output_value) and pd.notna(start_up_output):
                unit_relation_parameter_data.append({
                    'Relationship_class_name': 'unit__to_node',
                    'Object_class': 'unit',
                    'Object_name': unit,
                    'Node': output_value,
                    'Parameter': 'start_up_limit',
                    'Value': start_up_output
                })
            
            if pd.notna(output_value) and pd.notna(shut_down_output):
                unit_relation_parameter_data.append({
                    'Relationship_class_name': 'unit__to_node',
                    'Object_class': 'unit',
                    'Object_name': unit,
                    'Node': output_value,
                    'Parameter': 'shut_down_limit',
                    'Value': shut_down_output
                })
            if pd.notna(output_value) and pd.notna(minimum_op_output):
                unit_relation_parameter_data.append({
                    'Relationship_class_name': 'unit__to_node',
                    'Object_class': 'unit',
                    'Object_name': unit,
                    'Node': output_value,
                    'Parameter': 'minimum_operating_point',
                    'Value': minimum_op_output
                })

# Create a new DataFrame from the transformed data
df_unit_relation_parameter_data = pd.DataFrame(unit_relation_parameter_data)

KeyError: 'minimum_op_point_Output1'

In [ ]:
### ADD ADDITIONAL ELECTRICITY CONNECTIONS IF NOT ALREADY EXISTENT ###
units = df_units.iloc[:, 0].tolist()
length = len(units)
data = {
    "Relationship_class_name": ["unit__from_node"] * length,
    "Object_class": ["unit"] * length,
    "Object_name": units,
    "Node": ["Power_Kasso"] * length
}
df_electricity = pd.DataFrame(data)

units_with_from_node = df_unit_relation_parameter_data[df_unit_relation_parameter_data['Relationship_class_name'].str.contains('unit__from_node')]
valid_object_names = units_with_from_node['Object_name']
df_electricity_filtered = df_electricity[df_electricity['Object_name'].isin(valid_object_names)]

merged_df = pd.merge(df_electricity_filtered, units_with_from_node, on=['Relationship_class_name', 'Object_class', 'Object_name', 'Node'], how='left', indicator=True)
df_electricity_nodes = merged_df[merged_df['_merge'] == 'left_only'].drop(columns='_merge')

df_unit_relation_parameter_data = pd.concat([df_unit_relation_parameter_data, df_electricity_nodes], ignore_index=True)

In [ ]:
### CONNECTIONS ###

# Initialize an empty list to store the transformed data
connection_relation_parameter_data = []

# Iterate over each row in the DataFrame
for index, row in df_model_connections.iterrows():
    connection = row['Connection']

    # Iterate over Input and Output columns
    for i in range(1, 3):
        input_col = f'Input{i}'
        output_col = f'Output{i}'
        cap_input_col = f'Cap_{input_col}_existing'
        cap_output_col = f'Cap_{output_col}_existing'
        vom_cost_input_col = f'vom_cost_{input_col}'
        vom_cost_output_col = f'vom_cost_{output_col}'
        start_up_output_col = f'start_up_{output_col}'
        shut_down_output_col = f'shut_down_{output_col}'
        #fom_cost_col = 'fom_cost' if i == 1 else None
        #vom_cost_col = 'vom_cost' if i == 1 else None

        # Check for Input columns
        input_value = row[input_col]
        input_capacity = row[cap_input_col]
        vom_cost_input = row[vom_cost_input_col]

        #fom_cost_value = row[fom_cost_col] if fom_cost_col else None
        #vom_cost_value = row[vom_cost_col] if vom_cost_col else None

        if pd.notna(input_value):
            connection_relation_parameter_data.append({
                'Relationship_class_name': 'connection__from_node',
                'Object_class': 'connection',
                'Object_name': connection,
                'Node': input_value,
                'Parameter': 'connection_capacity' if pd.notna(input_capacity) else '',
                'Value': input_capacity if pd.notna(input_capacity) else ''
            })
        
            if pd.notna(input_value) and pd.notna(vom_cost_input):
                connection_relation_parameter_data.append({
                    'Relationship_class_name': 'connection__from_node',
                    'Object_class': 'connection',
                    'Object_name': connection,
                    'Node': input_value,
                    'Parameter': 'vom_cost',
                    'Value': vom_cost_input
                })

        # Check for Output columns
        output_value = row[output_col]
        output_capacity = row[cap_output_col]
        vom_cost_output = row[vom_cost_output_col]

        '''if pd.notna(output_value):
            connection_relation_parameter_data.append({
                'Relationship_class_name': 'connection__to_node',
                'Object_class': 'connection',
                'Object_name': connection,
                'Node': output_value,
                'Parameter': 'connection_capacity' if pd.notna(output_capacity) else '',
                'Value': output_capacity if pd.notna(output_capacity) else '',
                #'fom_cost': fom_cost_value if pd.notna(fom_cost_value) else '',
                #'vom_cost': vom_cost_value if pd.notna(vom_cost_value) else ''
            })'''

        if pd.notna(output_value):
            connection_relation_parameter_data.append({
                'Relationship_class_name': 'connection__to_node',
                'Object_class': 'connection',
                'Object_name': connection,
                'Node': output_value,
                'Parameter': 'connection_capacity' if pd.notna(output_capacity) else '',
                'Value': output_capacity if pd.notna(output_capacity) else ''
            })
        
        if pd.notna(output_value) and pd.notna(vom_cost_output):
            connection_relation_parameter_data.append({
                'Relationship_class_name': 'connection__to_node',
                'Object_class': 'connection',
                'Object_name': connection,
                'Node': output_value,
                'Parameter': 'vom_cost',
                'Value': vom_cost_output
            })

#Create a new DataFrame from the transformed data
df_connection_relation_parameter_data = pd.DataFrame(connection_relation_parameter_data)

In [ ]:
#Create combined DataFrame:
df_object__node = pd.concat([df_unit_relation_parameter_data, df_connection_relation_parameter_data])
df_object__node = df_object__node.reset_index(drop=True)

#show df head for control
df_object__node.head()

In [ ]:
#create a DataFrame for the definition of the object_node relationsships
df_object__node_definitions = pd.DataFrame(df_object__node[['Relationship_class_name', 'Object_class', 'Object_name', 'Node']])
df_object__node_definitions = df_object__node_definitions.drop_duplicates()
df_object__node_definitions = df_object__node_definitions.reset_index(drop=True)

# Drop rows whereno parameters for the relationship are defined (column has missing values (NaN or None))
drop_no_vaule_column = 'Parameter'
df_object__node_values = df_object__node[df_object__node[drop_no_vaule_column] != '']

Object__node_node:

In [ ]:
#Define which columns to check
columns_In_In_Unit = ['Unit', 'Input1', 'Input2']
columns_In_Out_Unit = ['Unit', 'Input1', 'Output1']
columns_Out_Out_Unit = ['Unit', 'Output1', 'Output2']
columns_In_In_Connection = ['Connection', 'Input1', 'Input2']
columns_In_Out_Connection = ['Connection', 'Input1', 'Output1']
columns_Out_Out_Connection = ['Connection', 'Output1', 'Output2']
columns_Out_In_Connection = ['Connection', 'Output1', 'Input1']

####UNITS#####
#create list of tuples with values of cells + fix_ratio_XXX_XXX
values_in_in_units = [('unit__node__node', 'unit', row[columns_In_In_Unit[0]], row[columns_In_In_Unit[1]], row[columns_In_In_Unit[2]], 
                       'fix_ratio_in_in_unit_flow', row['Relation_In_In']) 
                      if not pd.isnull(row[columns_In_In_Unit]).any() else (np.nan, np.nan, None) for _, row in df_model_units.iterrows() 
                      if not pd.isnull(row[columns_In_In_Unit]).any()]
values_in_out_units = [('unit__node__node', 'unit', row[columns_In_Out_Unit[0]], row[columns_In_Out_Unit[1]], row[columns_In_Out_Unit[2]], 
                        'fix_ratio_in_out_unit_flow', row['Relation_In_Out']) 
                      if not pd.isnull(row[columns_In_Out_Unit]).any() else (np.nan, np.nan, None) for _, row in df_model_units.iterrows() 
                      if not pd.isnull(row[columns_In_Out_Unit]).any()]
values_out_out_units = [('unit__node__node', 'unit', row[columns_Out_Out_Unit[0]], row[columns_Out_Out_Unit[1]], row[columns_Out_Out_Unit[2]], 
                         'fix_ratio_out_out_unit_flow', row['Relation_Out_Out']) 
                      if not pd.isnull(row[columns_Out_Out_Unit]).any() else (np.nan, np.nan, None) for _, row in df_model_units.iterrows() 
                      if not pd.isnull(row[columns_Out_Out_Unit]).any()]

df_fix_ratio_in_in_units = pd.DataFrame(values_in_in_units, columns=['Relationship', 'Object_class', 'Object_name', 'Node1', 
                                                                     'Node2', 'Parameter', 'Value'])
df_fix_ratio_in_out_units = pd.DataFrame(values_in_out_units, columns=['Relationship', 'Object_class', 'Object_name', 'Node1', 
                                                                       'Node2', 'Parameter', 'Value'])
df_fix_ratio_out_out_units = pd.DataFrame(values_out_out_units, columns=['Relationship', 'Object_class', 'Object_name', 'Node1', 
                                                                         'Node2', 'Parameter', 'Value'])

####CONNECTIONS
values_in_in_connections = [('connection__node__node', 'connection', row[columns_In_In_Connection[0]], 
                             row[columns_In_In_Connection[1]], row[columns_In_In_Connection[2]], 
                             'fix_ratio_in_in_connection_flow', row['Relation_In_In']) 
                            if not pd.isnull(row[columns_In_In_Connection]).any() else (np.nan, np.nan, None) for _, row in df_model_connections.iterrows() 
                            if not pd.isnull(row[columns_In_In_Connection]).any()]
values_in_out_connections = [('connection__node__node', 'connection', row[columns_In_Out_Connection[0]], 
                              row[columns_In_Out_Connection[1]], row[columns_In_Out_Connection[2]], 
                              'fix_ratio_in_out_connection_flow', row['Relation_In_Out']) 
                             if not pd.isnull(row[columns_In_Out_Connection]).any() else (np.nan, np.nan, None) for _, row in df_model_connections.iterrows() 
                             if not pd.isnull(row[columns_In_Out_Connection]).any()]
values_out_out_connections = [('connection__node__node', 'connection', row[columns_Out_Out_Connection[0]], 
                               row[columns_Out_Out_Connection[1]], row[columns_Out_Out_Connection[2]], 
                               'fix_ratio_out_out_connection_flow', row['Relation_Out_Out']) 
                              if not pd.isnull(row[columns_Out_Out_Connection]).any() else (np.nan, np.nan, None) for _, row in df_model_connections.iterrows() 
                              if not pd.isnull(row[columns_Out_Out_Connection]).any()]
values_out_in_connections = [('connection__node__node', 'connection', row[columns_Out_In_Connection[0]], 
                               row[columns_Out_In_Connection[1]], row[columns_Out_In_Connection[2]], 
                               'fix_ratio_out_in_connection_flow', row['Relation_Out_In']) 
                              if not pd.isnull(row[columns_Out_In_Connection]).any() else (np.nan, np.nan, None) for _, row in df_model_connections.iterrows() 
                              if not pd.isnull(row[columns_Out_In_Connection]).any()]

df_fix_ratio_in_in_connections = pd.DataFrame(values_in_in_connections, columns=['Relationship', 'Object_class', 'Object_name', 'Node1', 
                                                                                 'Node2', 'Parameter', 'Value'])
df_fix_ratio_in_out_connections = pd.DataFrame(values_in_out_connections, columns=['Relationship', 'Object_class', 'Object_name', 'Node1', 
                                                                                   'Node2', 'Parameter', 'Value'])
df_fix_ratio_out_out_connections = pd.DataFrame(values_out_out_connections, columns=['Relationship', 'Object_class', 'Object_name', 'Node1', 
                                                                                     'Node2', 'Parameter', 'Value'])
df_fix_ratio_out_in_connections = pd.DataFrame(values_out_in_connections, columns=['Relationship', 'Object_class', 'Object_name', 'Node1', 
                                                                                     'Node2', 'Parameter', 'Value'])

#create Object_node_node
df_object_node_node = pd.concat([df_fix_ratio_in_in_units, df_fix_ratio_in_out_units, df_fix_ratio_out_out_units, 
                                df_fix_ratio_in_in_connections, df_fix_ratio_in_out_connections, 
                                df_fix_ratio_out_out_connections, df_fix_ratio_out_in_connections])
df_object_node_node = df_object_node_node.reset_index(drop=True)

df_object_node_node = df_object_node_node.dropna(subset=['Value'])

#for storages, the out_in_connetion is set in both directions
# Check if the 'Object' column contains the word 'storage'
storage_condition = df_object_node_node['Object_name'].str.contains('storage', case=False)

# Filter rows that meet the condition
storage_rows = df_object_node_node[storage_condition]

# Add a new row with mirrored Node1 and Node2 for each matching row
for index, row in storage_rows.iterrows():
    mirrored_row = row.copy()
    mirrored_row['Node1'], mirrored_row['Node2'] = row['Node2'], row['Node1']
    df_object_node_node = pd.concat([df_object_node_node, mirrored_row.to_frame().T], ignore_index=True)

In [ ]:
### ADD UNIT__NODE__NODE RELATIONSHIPS FOR UNIT_IDLE_HEAT_RATE ###
in_and_outputs = df_model_units.iloc[:, [0, 1, 3, 35]].copy()
length = len(in_and_outputs)
data = {
    "Relationship": ["unit__node__node"] * length,
    "Object_class": ["unit"] * length,
    "Object_name": in_and_outputs.iloc[:, 0].tolist(),
    "Node1": ["Power_Kasso"] * length,
    "Node2": in_and_outputs.iloc[:, 2].tolist(),
    "Parameter": ["unit_idle_heat_rate"] * length,
    "Value": in_and_outputs.iloc[:, 3].tolist()
}
df_idle_node_node = pd.DataFrame(data)
#drop all rows that now have input and output of electricity
df_electricity_node_node = df_idle_node_node[df_idle_node_node['Node1'] != df_idle_node_node['Node2']]
#drop all rows that do not have a unit_idle_heat rate
df_electricity_node_node = df_electricity_node_node.dropna(subset=['Value'])

df_object_node_node = pd.concat([df_object_node_node, df_electricity_node_node], ignore_index=True)

In [ ]:
# Add unit_node_node relationships for every unit that has power as output
df_non_electricity_node_node = df_idle_node_node[df_idle_node_node['Node1'] == df_idle_node_node['Node2']].copy()
df_non_electricity_node_node.loc[:, 'Node1'] = df_non_electricity_node_node['Object_name'] + '_node'

#drop all rows that do not have a unit_idle_heat rate
df_non_electricity_node_node = df_non_electricity_node_node.dropna(subset=['Value'])

df_object_node_node = pd.concat([df_object_node_node, df_non_electricity_node_node], ignore_index=True)
df_non_electricity_node_node

In [ ]:
# add new [arbitrary] nodes to definition
new_nodes = df_non_electricity_node_node['Node1']
new_nodes = new_nodes[~new_nodes.isin(df_nodes['Object_Name'])]
df_new_nodes = pd.DataFrame({
    'Object_Name': new_nodes,
    'Category': 'node'
})

df_nodes = pd.concat([df_nodes, df_new_nodes], ignore_index=True)
# add new node to definition
df_definition = pd.concat([df_definition, df_new_nodes], ignore_index=True)

In [ ]:
# add new unit_to_nodes relationship with new nodes
df_new = df_non_electricity_node_node.copy()
df_new = df_new.iloc[:, :4]
new_headers = ['Relationship_class_name', 'Object_class', 'Object_name', 'Node']
df_new.columns = new_headers
df_new.iloc[:, 0] = "unit__from_node"

df_object__node_definitions = pd.concat([df_object__node_definitions, df_new], ignore_index=True)

In [ ]:
### Add unit_incremental_heat_rates of 0 if not otherwise specified
values_to_exclude = df_variable_efficiency.values.flatten()
df_electricity_not = df_electricity_node_node[~df_electricity_node_node['Node2'].isin(values_to_exclude)]
df_electricity_not = df_electricity_not.iloc[:,[0,1,2,3,4]]
df_electricity_not['Parameter'] = 'unit_incremental_heat_rate'
df_electricity_not['Value'] = 0

#concat to object__node_node
df_object_node_node = pd.concat([df_object_node_node, df_electricity_not], ignore_index=True)

#show df head for control
df_electricity_not

#### Variable Efficiency Units:

In [ ]:
df_variable_efficiency

In [ ]:
# create the object__node_values for the relationship
df_boolean_relations = create_ordered_unit_flow(df_variable_efficiency, 'unit__from_node')
df_boolean_relations

#### Demand and Renewables Availability:

In [ ]:
#create table headers and relations
column_names_1 = {'DateTime '+area: [None, None],
                'Hydrogen_Kasso': ['node','demand'], 
                'E-Methanol_Kasso': ['node','demand'], 
                'Solar_Plant_Kasso': ['unit','unit_availability_factor']}
df_blank_table_1 = pd.DataFrame(column_names_1, index=None)
#add values
df_temp_1 = pd.DataFrame(columns=['DateTime ' + area, 'Hydrogen_Kasso', 'E-Methanol_Kasso', 'Solar_Plant_Kasso'])

df_temp_1['DateTime '+area] = df_time
df_temp_1['Hydrogen_Kasso'] = 0
df_temp_1['E-Methanol_Kasso'] = 25
df_temp_1['Solar_Plant_Kasso'] = df_PV_availabilityfactors_values['unit_availability_factor']

df_table_1 = pd.concat([df_blank_table_1, df_temp_1])
#show table head for control
df_table_1.head()

#### Energy prices:

In [ ]:
column_names_2 = {'DateTime ' + area: ['relationship class','connection','node','parameter name'],
                'Power_Wholesale_In': ['connection__from_node','power_line_Wholesale_Kasso','Power_Wholesale','connection_flow_cost'], 
                'Power_Wholesale_Out': ['connection__to_node','power_line_Wholesale_Kasso','Power_Wholesale','connection_flow_cost'], 
                'District_Heating': ['connection__to_node','pipeline_District_Heating','District_Heating','connection_flow_cost']}
df_blank_table_2 = pd.DataFrame(column_names_2, index=None)
df_temp_2 = pd.DataFrame(columns=['DateTime ' + area, 'Power_Wholesale_In', 'Power_Wholesale_Out', 'District_Heating'])

df_temp_2['DateTime ' + area] = df_time
df_temp_2['Power_Wholesale_In'] = df_powerprices_values['SpotPriceEUR']
df_temp_2['Power_Wholesale_Out'] = -1 * df_powerprices_values['SpotPriceEUR']
df_temp_2['District_Heating'] = 0

df_table_2 = pd.concat([df_blank_table_2, df_temp_2], ignore_index=True)
#show table head for control
df_table_2.head()

#### Time Series Storage:

In [ ]:
#date index
before = start_date-timedelta(hours=1)
date_index_beginning = pd.date_range(start=before, end=start_date, freq='H')
formatted_beginning = date_index_beginning.strftime('%Y-%m-%dT%H:%M:%S')
df_formatted_beginning = pd.DataFrame(formatted_beginning, columns=['DateTime'])
df_time_beginning = pd.DataFrame(df_formatted_beginning)
#add one blank row
new_row = pd.Series([])
df_time_beginning = pd.concat([pd.DataFrame([new_row]), df_time_beginning]).reset_index(drop=True)

#concat raw data with time index
storage_values = df_model_storages.iloc[:,[0, 1, 2, 6]]
storage_values = storage_values.iloc[:, [0, 3, 1, 2]]
storage_values_transposed = storage_values.T
storage_values_transposed.columns = storage_values_transposed.iloc[0]
storage_values_transposed = storage_values_transposed[1:]
storage_values_transposed.reset_index(drop=True, inplace=True)

df_storage = pd.concat([df_time_beginning, storage_values_transposed], axis=1)
#show table head for control
df_storage.head()

#### Model relations:

In [ ]:
#Writing definition of model components
column_names_model_components = {'Object_class_name':['model','temporal_block','stochastic_scenario', 'stochastic_structure', 'report'],
                      'Object_name': [model_name, temporal_block, stochastic_scenario, stochastic_structure, report_name]}
df_model_components = pd.DataFrame(column_names_model_components, index=None)
#outputs:
df_outputs = pd.DataFrame({
    'Object_class_name': ['output']*len(reports),
    'Object_name': reports
})
df_model_components = pd.concat([df_model_components, df_outputs], axis=0)
df_model_components = df_model_components.reset_index(drop=True)

In [ ]:
#reports
column_names_model_structure = {'Object_class_name':['model','temporal_block','stochastic_scenario', 'stochastic_structure', 'report'],
                      'Object_name': [model_name, temporal_block, stochastic_scenario, stochastic_structure, report_name]}
df_reports = pd.DataFrame({
    'Relationship_class_name': ['report__output']*len(reports),
    'Object_class_name_1': ['report']*len(reports),
    'Object_class_name_2': ['output']*len(reports),
    'Object_name_1': [report_name]*len(reports),
    'Object_name_2': reports
})
#everything else
df_model_struc = pd.DataFrame({
    'Relationship_class_name': ['model__temporal_block','model__default_temporal_block', 
                                'model__stochastic_structure', 'model__default_stochastic_structure',
                                'stochastic_structure__stochastic_scenario', 'model__report'],
    'Object_class_name_1': ['model','model','model','model','stochastic_structure','model'],
    'Object_class_name_2': ['temporal_block', 'temporal_block','stochastic_structure','stochastic_structure', 'stochastic_scenario','report'],
    'Object_name_1': [model_name, model_name,model_name,model_name,stochastic_structure, model_name],
    'Object_name_2': [temporal_block, temporal_block, stochastic_structure, stochastic_structure, stochastic_scenario, report_name]
})
df_model_relations = pd.concat([df_model_struc, df_reports], axis=0)
df_model_relations = df_model_relations.reset_index(drop=True)
#show table head for control
df_model_relations.head()

#### Model:

In [ ]:
### take first 3 columns and add another table with "Alternative", "Value"
column_names_model = {'Object_class_name':['model','model','temporal_block'],
                      'Object_name': [model_name, model_name, temporal_block],
                      'Parameter':['model_start','model_end','resolution'],
                      'Alternative': [scenario, scenario, scenario],
                      'Value': ['{"type": "date_time", "data": "'+df_time.iloc[0]['DateTime']+'"}',
                          '{"type": "date_time", "data": "'+df_time.iloc[-1]['DateTime']+'"}', 
                          '{"type":"duration", "data": "'+frequency+'"}']}
df_model = pd.DataFrame(column_names_model, index=None)
#show table head for control
df_model.head()

### Creating one combined excel and export

In [ ]:
#create the prepared input excel for the use in SpineToolbox
with pd.ExcelWriter(output_file_path + output_file_name) as writer:
    df_definition.to_excel(writer, sheet_name='Definition', index=False)
    unit_parameters_rest_df.to_excel(writer, sheet_name='Definition_parameters', index=False)
    unit_parameters_duration_df.to_excel(writer, sheet_name='Definition_parameters_duration', index=False)
    df_nodes.to_excel(writer, sheet_name='Nodes', index=False)
    df_connections.to_excel(writer, sheet_name='Connections', index=False)
    df_object__node_definitions.to_excel(writer, sheet_name='Object__to_from_node_definition', index=False)
    df_object__node_values.to_excel(writer, sheet_name='Object__to_from_node', index=False)
    df_boolean_relations.to_excel(writer, sheet_name='Boolean_relations', index=False)
    df_object_node_node.to_excel(writer, sheet_name='Object__node_node', index=False)
    df_variable_efficiency.to_excel(writer, sheet_name='Variable_Eff', index=False)
    df_storage.to_excel(writer, sheet_name='Time_series_storage', index=False)
    df_table_1.to_excel(writer, sheet_name='Demand', index=False)
    df_table_2.to_excel(writer, sheet_name='Energy_prices', index=False)
    df_model_components.to_excel(writer, sheet_name='Model_components', index=False)
    df_model_relations.to_excel(writer, sheet_name='Model_relations', index=False)
    df_model.to_excel(writer, sheet_name='Model', index=False)