# Data Preparation for the Nord_H2ub Spine Model

This jupyter notebook contains all routines for the preparation of the input data sources into a input data file for the model in Spine. 

**Authors:** Johannes Giehl (jfg.eco@cbs.dk), Dana Hentschel (djh.eco@cbs.dk)

## General settings

### Import Packages:

In [ ]:
from nord_h2ub_hexhex import *

### Query to define parameters:

In [ ]:
# Example usage
combined_tabs, dropdowns = create_combined_dropdowns_tabs()

In [10]:
#get the values after setting the inputs by the user
values = get_dropdown_values(dropdowns)

#Calculate remaining values based on inputs
#calc_values = compute_other_values(values)

In [12]:
values

{'model_name': 'Model',
 'year': 2020,
 'price_zone': None,
 'product': None,
 'electrolysis': None,
 'frequency': '1W',
 'temporal_block': 'weekly',
 'roll_forward': True,
 'share_of_dh_price_cap': 0.5,
 'number_price_level_power': 1.0,
 'power_price_variance': 1.0,
 'num_slices': 12.0,
 'des_segments_electrolyzer': 3.0,
 'base_scen': 'Base',
 'other_scen': '',
 'stoch_scen': 'realisation',
 'stoch_struc': 'deterministic',
 'report_name': 'Report',
 'outputs': {'connection_flow',
  'node_slack_neg',
  'node_slack_pos',
  'node_state',
  'total_costs',
  'unit_flow',
  'unit_flow_op'}}

In [9]:
calc_values

{'start_date': Timestamp('2020-01-01 00:00:00'),
 'end_date': Timestamp('2020-12-31 23:00:00'),
 'datetime_index': DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
                '2020-01-01 02:00:00', '2020-01-01 03:00:00',
                '2020-01-01 04:00:00', '2020-01-01 05:00:00',
                '2020-01-01 06:00:00', '2020-01-01 07:00:00',
                '2020-01-01 08:00:00', '2020-01-01 09:00:00',
                ...
                '2020-12-31 14:00:00', '2020-12-31 15:00:00',
                '2020-12-31 16:00:00', '2020-12-31 17:00:00',
                '2020-12-31 18:00:00', '2020-12-31 19:00:00',
                '2020-12-31 20:00:00', '2020-12-31 21:00:00',
                '2020-12-31 22:00:00', '2020-12-31 23:00:00'],
               dtype='datetime64[ns]', length=8784, freq='h'),
 'roll_forward_size': 732,
 'temporal_block': 'hourly',
 'num_steps': 8784}

### Dictionary:

In [12]:
parameters = {
    'year': values['year'],
    #problem with the format
    #'start_date': calc_values['start_date'],
    #'end_date': calc_values['end_date'],
    'area': values['price_zone'],
    'product': values['product'],
    'scenario': [values['base_scen']] + values['other_scen'].split('\n'),
    'frequency': values['frequency'],
    'model_name': values['model_name'],
    'temporal_block': values['temporal_block'],
    'stochastic_scenario': values['stoch_scen'],
    'stochastic_structure': values['stoch_struc'],
    'report_name': values['report_name'],
    #problem with the dict
    #'reports': values['outputs'],
    'electrolyzer_type': values['electrolysis'],
    #problem this is not an int    
    #'des_segments_electrolyzer': values['des_segments_electrolyzer'],
    'share_of_dh_price_cap': values['share_of_dh_price_cap'],
    'price_level_power': values['number_price_level_power'],
    'power_price_variance': values['power_price_variance'],
    'roll_forward_use': values['roll_forward'],
    #to be checked
    #'roll_forward_size': calc_values['roll_forward_size'],
    'num_slices': values['num_slices'],
    #to be checked
    #'num_steps': calc_values['num_steps']
}

KeyError: 'temporal_block'

### Execute standard routine:

In [23]:
pm.execute_notebook(
    '00_functions\\data_preparation_nord_h2ub_spine.ipynb',
    '00_functions\\please_ignore.ipynb',
    parameters=parameters
)

Executing:   0%|          | 0/80 [00:00<?, ?cell/s]

{'cells': [{'cell_type': 'markdown',
   'id': '43ea4b8f-0ba4-4513-8872-53f4a538a0d3',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:10.498237',
     'end_time': '2024-07-26T11:13:10.513989',
     'duration': 0.015752,
     'status': 'completed'}},
   'source': '# Data Preparation for the Nord_H2ub Spine Model'},
  {'cell_type': 'markdown',
   'id': '1aa86773-4431-4a2f-9490-4b3cf0aa8d70',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:10.534142',
     'end_time': '2024-07-26T11:13:10.553934',
     'duration': 0.019792,
     'status': 'completed'}},
   'source': 'This jupyter notebook contains all routines for the preparation of the input data sources into a input data file for the model in Spine. \n\n**Authors:** Johannes Giehl (jfg.eco@cbs.dk), Dana Hentschel (djh.eco@cbs.dk)'},
  {'cell_type': 'markdown',
   'id': 'eb8175ae-f246-4788-a309-c1a4890992f2',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:10.577087',
     'end_time': '2024-07-26T11:13:10.598006',
     'duration': 0.020919,
     'status': 'completed'}},
   'source': '## General settings'},
  {'cell_type': 'markdown',
   'id': '5bc68f78-3383-4889-bd9e-8b3e3e2f6c2e',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:10.618567',
     'end_time': '2024-07-26T11:13:10.635016',
     'duration': 0.016449,
     'status': 'completed'}},
   'source': '### Packages:'},
  {'cell_type': 'code',
   'execution_count': 1,
   'id': 'f8f47a1c-073f-46c0-8a4d-7dafb1716b9b',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:10.653473',
     'end_time': '2024-07-26T11:13:12.001724',
     'duration': 1.348251,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:10.677260Z',
     'iopub.execute_input': '2024-07-26T11:13:10.678463Z',
     'shell.execute_reply': '2024-07-26T11:13:11.998031Z',
     'iopub.status.idle': '2024-07-26T11:13:11.999057Z'}},
   'outputs': [],
   'source': 'import numpy as np\nimport pandas as pd\nimport matplotlib.pyplot as plt\nfrom datetime import timedelta\nimport math\nimport sys\nimport os'},
  {'cell_type': 'markdown',
   'id': '92141795-3716-404e-8e35-a096dcaa0c40',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.013740',
     'end_time': '2024-07-26T11:13:12.024999',
     'duration': 0.011259,
     'status': 'completed'}},
   'source': '### Methods:'},
  {'cell_type': 'code',
   'execution_count': 2,
   'id': '23418a81-7e7c-47c4-afc1-805a5eb7aed1',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.038121',
     'end_time': '2024-07-26T11:13:12.080425',
     'duration': 0.042304,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.053006Z',
     'iopub.execute_input': '2024-07-26T11:13:12.053006Z',
     'iopub.status.idle': '2024-07-26T11:13:12.075316Z',
     'shell.execute_reply': '2024-07-26T11:13:12.074758Z'}},
   'outputs': [],
   'source': "#import the data preparation functions\n# Determine the current working directory\ncurrent_working_dir = os.getcwd()\n\n# Set the module path (adjust the relative path if necessary)\nmodule_path = os.path.abspath(os.path.join(current_working_dir, '00_functions'))\nif module_path not in sys.path:\n    sys.path.append(module_path)\n\n#load the functions and methods from the corresponding file\nfrom nord_h2ub_data_preparation_functions import *"},
  {'cell_type': 'markdown',
   'id': '3e50630f-868b-40f0-842e-c74d936b5d54',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.092625',
     'end_time': '2024-07-26T11:13:12.105387',
     'duration': 0.012762,
     'status': 'completed'}},
   'source': '### Base parameters'},
  {'cell_type': 'code',
   'execution_count': 3,
   'id': 'acd9578f-5900-4581-bf5f-40d6d2661f9b',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.117562',
     'end_time': '2024-07-26T11:13:12.164092',
     'duration': 0.04653,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.131353Z',
     'iopub.execute_input': '2024-07-26T11:13:12.132351Z',
     'iopub.status.idle': '2024-07-26T11:13:12.161112Z',
     'shell.execute_reply': '2024-07-26T11:13:12.159499Z'}},
   'outputs': [{'output_type': 'stream',
     'name': 'stdout',
     'text': '\x1b[91mWARNING:\x1b[0m Please control if all the parameters are set correctly\n'}],
   'source': '#define year and create time stamp\nyear = 2019   #change to desired year\nstart_date = pd.Timestamp(str(year) + \'-01-01 00:00:00\')\nend_date = pd.Timestamp(str(year) + \'-12-31 23:00:00\')\n#set area\narea = \'DK1\'   #change to desired area\n#set product\nproduct = \'methanol\'   #change to desired product\n#scenario\nscenario = \'Base\'\n#frequency model\nfrequency = \'1h\'\n#model name\nmodel_name = \'toy\'\n#temporal block\ntemporal_block = \'hourly\'\n#stochastics\nstochastic_scenario = "realisation"\nstochastic_structure = "deterministic"\n#required reports\nreport_name = \'Report\'\nreports = [\'unit_flow\', \'connection_flow\', \'node_state\', \'total_costs\', \'unit_flow_op\', \'node_slack_neg\', \'node_slack_pos\']\n\n#variable efficiency electrolyzer\nelectrolyzer_type = "Alkaline"   #change to desired type (PEM, Alkaline, SOEC)\ndes_segments_electrolyzer = 3  #operating points for piecewise linear function, set by user \n\n# Print warning message in red\nprint("\\033[91mWARNING:\\033[0m Please control if all the parameters are set correctly")\n\n#financial parameters for the calculations\n#when using the district heating as a revenue stream, the price cap is the upper limit in Denmark\n#by using this parameter this can be adjusted to start with other than the max value\nshare_of_dh_price_cap = 0.5\n\nprice_level_power = 1\n\npower_price_variance = 1\n\n#define parameters for the use of the roll forward (rolling horizon) approach\n\n#set the number of slices within the modelling horizon\nroll_forward_use = True\nnum_slices = 12\n\n# Create DatetimeIndex for the range of dates\ndatetime_index = pd.date_range(start=start_date, end=end_date, freq=frequency)\n\n# Calculate the number of steps within the horizon\nnum_steps = len(datetime_index)\n\n# Check if the number of slices can be used\n# Find the largest integer divisor that fulfils the condition\nfor i in range(num_slices, 0, -1):\n    if num_steps % i == 0:\n        roll_forward_size = num_steps // i\n        used_slices = i\n        break\nelse:\n    print("Cannot divide the number of steps into any integer slices. Please choose a different number of slices.")\n    exit()\n\n# Check if num_slices matches the used_slices\nif num_slices != used_slices:\n    print("\\033[91mWARNING:\\033[0m The specified number of slices (", num_slices, ")",\n          "does not match the final division factor (", used_slices, ").",\n         "\\n The calculation uses the factor: ",used_slices, ".")'},
  {'cell_type': 'code',
   'execution_count': 4,
   'id': '81b7e420',
   'metadata': {'tags': ['parameters'],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.176684',
     'end_time': '2024-07-26T11:13:12.210944',
     'duration': 0.03426,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.190274Z',
     'iopub.execute_input': '2024-07-26T11:13:12.191682Z',
     'shell.execute_reply': '2024-07-26T11:13:12.206509Z',
     'iopub.status.idle': '2024-07-26T11:13:12.207523Z'}},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': "'\\nyear = 1\\nstart_date = 1\\nend_date = 1\\narea = 1\\nproduct = 1\\nscenario = 1\\nfrequency = 1\\nmodel_name = 1\\ntemporal_block = 1\\nstochastic_scenario = 1\\nstochastic_structure = 1\\nreport_name = 1\\nreports = 1\\nelectrolyzer_type = 1\\ndes_segments_electrolyzer = 1\\nshare_of_dh_price_cap = 1\\nprice_level_power = 1\\npower_price_variance = 1\\nroll_forward_use = 1\\nroll_forward_size = 1\\nnum_slices = 1\\nnum_steps = 1\\n'"},
     'execution_count': 4}],
   'source': "#dummy variables, please do not change!\n'''\nyear = 1\nstart_date = 1\nend_date = 1\narea = 1\nproduct = 1\nscenario = 1\nfrequency = 1\nmodel_name = 1\ntemporal_block = 1\nstochastic_scenario = 1\nstochastic_structure = 1\nreport_name = 1\nreports = 1\nelectrolyzer_type = 1\ndes_segments_electrolyzer = 1\nshare_of_dh_price_cap = 1\nprice_level_power = 1\npower_price_variance = 1\nroll_forward_use = 1\nroll_forward_size = 1\nnum_slices = 1\nnum_steps = 1\n'''"},
  {'id': '6002ec55',
   'cell_type': 'code',
   'metadata': {'tags': ['injected-parameters'],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.225311',
     'end_time': '2024-07-26T11:13:12.255780',
     'duration': 0.030469,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.239657Z',
     'iopub.execute_input': '2024-07-26T11:13:12.240973Z',
     'shell.execute_reply': '2024-07-26T11:13:12.252216Z',
     'iopub.status.idle': '2024-07-26T11:13:12.254059Z'}},
   'execution_count': 5,
   'source': '# Parameters\nyear = 2020\narea = "DK1"\nproduct = "methanol"\nscenario = ["Base", ""]\nfrequency = "1h"\nmodel_name = "Model"\nstochastic_scenario = "realisation"\nstochastic_structure = "deterministic"\nreport_name = "Report"\nelectrolyzer_type = "Alkaline"\nshare_of_dh_price_cap = 0.5\nprice_level_power = 1.0\npower_price_variance = 1.0\nroll_forward_use = True\nnum_slices = 12.0\n',
   'outputs': []},
  {'cell_type': 'markdown',
   'id': '4c56b541-1fbd-4e7e-9cf3-2ff25f8da472',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.268334',
     'end_time': '2024-07-26T11:13:12.281143',
     'duration': 0.012809,
     'status': 'completed'}},
   'source': '### File paths'},
  {'cell_type': 'code',
   'execution_count': 6,
   'id': '65e5ed05-0b7b-46d6-a62e-639f1d9a34ba',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.293091',
     'end_time': '2024-07-26T11:13:12.320322',
     'duration': 0.027231,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.306471Z',
     'iopub.execute_input': '2024-07-26T11:13:12.306471Z',
     'shell.execute_reply': '2024-07-26T11:13:12.316251Z',
     'iopub.status.idle': '2024-07-26T11:13:12.316759Z'}},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': "'C:\\\\Users\\\\jfg.eco\\\\Documents\\\\GitHub\\\\Nord_H2ub\\\\spine_projects\\\\01_input_data'"},
     'execution_count': 6}],
   'source': 'current_working_dir'},
  {'cell_type': 'code',
   'execution_count': 7,
   'id': '0125e56b-42fd-4802-ba20-fb269c56fe82',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.335287',
     'end_time': '2024-07-26T11:13:12.369434',
     'duration': 0.034147,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.351447Z',
     'iopub.execute_input': '2024-07-26T11:13:12.351447Z',
     'shell.execute_reply': '2024-07-26T11:13:12.363391Z',
     'iopub.status.idle': '2024-07-26T11:13:12.366404Z'}},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': '\'def get_excel_file_path():\\n    # Get the current directory\\n    current_directory = os.getcwd()\\n    \\n    # Split the current directory into parts\\n    path_parts = current_directory.split(os.sep)\\n    \\n    # Check if the current directory is the target directory\\n    if path_parts[-1] == "01_input_data":\\n        excel_file_path = "../01_input_data/"\\n    else:\\n        # Traverse back to find \\\'01_input_data\\\'\\n        traverse_back = 0\\n        for i in range(len(path_parts)-1, -1, -1):\\n            if path_parts[i] == "01_input_data":\\n                break\\n            traverse_back += 1\\n        \\n        # If we find \\\'01_input_data\\\' in the path, construct the relative path\\n        if traverse_back < len(path_parts):\\n            excel_file_path = "../" * (traverse_back) + "01_input_data/"\\n        else:\\n            # If \\\'01_input_data\\\' is not found in the path\\n            excel_file_path = None\\n    \\n    return excel_file_path\\n\\n\''},
     'execution_count': 7}],
   'source': '\'\'\'def get_excel_file_path():\n    # Get the current directory\n    current_directory = os.getcwd()\n    \n    # Split the current directory into parts\n    path_parts = current_directory.split(os.sep)\n    \n    # Check if the current directory is the target directory\n    if path_parts[-1] == "01_input_data":\n        excel_file_path = "../01_input_data/"\n    else:\n        # Traverse back to find \'01_input_data\'\n        traverse_back = 0\n        for i in range(len(path_parts)-1, -1, -1):\n            if path_parts[i] == "01_input_data":\n                break\n            traverse_back += 1\n        \n        # If we find \'01_input_data\' in the path, construct the relative path\n        if traverse_back < len(path_parts):\n            excel_file_path = "../" * (traverse_back) + "01_input_data/"\n        else:\n            # If \'01_input_data\' is not found in the path\n            excel_file_path = None\n    \n    return excel_file_path\n\n\'\'\''},
  {'cell_type': 'code',
   'execution_count': 8,
   'id': '5b811bdc-ac7b-4cd7-8e32-8f84bda412a2',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.381683',
     'end_time': '2024-07-26T11:13:12.414179',
     'duration': 0.032496,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.395812Z',
     'iopub.execute_input': '2024-07-26T11:13:12.395812Z',
     'shell.execute_reply': '2024-07-26T11:13:12.409696Z',
     'iopub.status.idle': '2024-07-26T11:13:12.411577Z'}},
   'outputs': [],
   'source': "#set path to correct folders\n\n#input data\nexcel_file_path = get_excel_file_path() + '01_input_raw/'\n#prepared input data\noutput_file_path = get_excel_file_path() + '02_input_prepared/'"},
  {'cell_type': 'code',
   'execution_count': 9,
   'id': '89169e64-f204-47bb-9a83-17156a4aefa8',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.429011',
     'end_time': '2024-07-26T11:13:12.475137',
     'duration': 0.046126,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.457513Z',
     'iopub.execute_input': '2024-07-26T11:13:12.458053Z',
     'shell.execute_reply': '2024-07-26T11:13:12.471930Z',
     'iopub.status.idle': '2024-07-26T11:13:12.472634Z'}},
   'outputs': [],
   'source': "#set name of the relevant files\n\nModel_structure_file = '/Model_Data_Base.xlsx'\nefficiency_electrolyzer_file = '/Efficiency_Electrolyzers.xlsx'\ndistric_heating_price_file = 'energy_prices/district_heating_price_cap.xlsx'\n\nPV_data_availabilityfactors = 'PV_availability_factors_Kasso.xlsx'\ndata_powerprices = 'Day_ahead_prices_' + str(year) + '.xlsx'\n\n#output file\noutput_file_name = product+'_Input_prepared.xlsx'\noutput_mapping_file_name = product+'_object_mapping.xlsx'"},
  {'cell_type': 'markdown',
   'id': '86d15fe8-064f-4c28-be28-8d924a4ba31b',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.491341',
     'end_time': '2024-07-26T11:13:12.505096',
     'duration': 0.013755,
     'status': 'completed'}},
   'source': '\n## Workflow of the data preparation'},
  {'cell_type': 'markdown',
   'id': 'ef6ad49f-470e-4b29-aa02-c7babb08befb',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.520098',
     'end_time': '2024-07-26T11:13:12.533345',
     'duration': 0.013247,
     'status': 'completed'}},
   'source': '### General parameters'},
  {'cell_type': 'code',
   'execution_count': 10,
   'id': 'c50f50c3-e43d-41c2-8158-75596632213b',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.547725',
     'end_time': '2024-07-26T11:13:12.690901',
     'duration': 0.143176,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.562947Z',
     'iopub.execute_input': '2024-07-26T11:13:12.562947Z',
     'iopub.status.idle': '2024-07-26T11:13:12.688836Z',
     'shell.execute_reply': '2024-07-26T11:13:12.686808Z'}},
   'outputs': [],
   'source': "#date index\ndate_index = pd.date_range(start=start_date, end=end_date, freq='h')\nformatted_dates = date_index.strftime('%Y-%m-%dT%H:%M:%S')\ndf_formatted_dates = pd.DataFrame(formatted_dates, columns=['DateTime'])\n\ndf_time = pd.DataFrame(df_formatted_dates)"},
  {'cell_type': 'markdown',
   'id': '88fb746a-7cd3-4655-88cf-ac543b003918',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.704059',
     'end_time': '2024-07-26T11:13:12.716642',
     'duration': 0.012583,
     'status': 'completed'}},
   'source': '### Data import'},
  {'cell_type': 'code',
   'execution_count': 11,
   'id': 'a42c5077-74ef-4f63-b6d9-4aa3c11aa878',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2024-07-26T11:13:12.731110',
     'end_time': '2024-07-26T11:13:19.044643',
     'duration': 6.313533,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2024-07-26T11:13:12.744883Z',
     'iopub.execute_input': '2024-07-26T11:13:12.745266Z',
     'shell.execute_reply': '2024-07-26T11:13:19.032418Z',
     'iopub.status.idle': '2024-07-26T11:13:19.036437Z'}},
   'outputs': [{'output_type': 'stream',
     'name': 'stderr',
     'text': 'C:\\Users\\jfg.eco\\AppData\\Local\\anaconda3\\envs\\spineopt_py309\\lib\\site-packages\\openpyxl\\worksheet\\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed\n  warn(msg)\nC:\\Users\\jfg.eco\\AppData\\Local\\anaconda3\\envs\\spineopt_py309\\lib\\site-packages\\openpyxl\\worksheet\\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed\n  warn(msg)\nC:\\Users\\jfg.eco\\AppData\\Local\\anaconda3\\envs\\spineopt_py309\\lib\\site-packages\\openpyxl\\worksheet\\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed\n  warn(msg)\n'}],
   'source': "#read in the model structure from a new excel\ndf_model_units_raw = pd.read_excel(excel_file_path + product + Model_structure_file, sheet_name='Units', index_col=None)\ndf_model_connections_raw = pd.read_excel(excel_file_path + product + Model_structure_file, sheet_name='Connections', index_col=None)\ndf_model_storages_raw = pd.read_excel(excel_file_path + product + Model_structure_file, sheet_name='Storages', index_col=None)\n#Variable efficiency\ndf_efficiency_electrolyzer = pd.read_excel(excel_file_path + product + efficiency_electrolyzer_file, sheet_name='Efficiency_'+electrolyzer_type)\n#Availability factor\ndf_PV_availabilityfactors_values = pd.read_excel(excel_file_path+PV_data_availabilityfactors, skiprows=2, usecols=[0,1,2,3,4,5])\n#Power prices\ndf_powerprices_total_values = pd.read_excel(excel_file_path+data_powerprices)\n#only extracting the prices from our earlier defined area\ndf_powerprices_values = df_powerprices_total_values[df_powerprices_total_values['PriceArea'] == area]\ndf_powerprices_values = df_powerprices_values.reset_index(drop=True)\n#district heating prices\ndf_district_heating_price = pd.read_excel(excel_file_path + distric_heating_price_file, sheet_name='Price_Cap_Calculation', index_col=None)"},
  {'cell_type': 'markdown',

### Finish and Exit the process:

- after executing the cell you can go back to SpineToolbox

In [ ]:
avada_kedavra()

In [14]:
# Function to handle the change in dropdown selection
def on_change(change):
    if change['type'] == 'change' and change['name'] == 'value':
        selected_option = change['new']
        selected_value = option_values[selected_option]
        selected_value_widget.value = selected_value
        print(f"Selected option: {selected_option}, Value: {selected_value}")

# Create dropdown for the model frequency
def create_dropdown_frequency():
    global option_values, selected_value_widget  # Declare as global to access in on_change
    option_values = {
        '1h': 'hourly',
        '1D': 'daily',
        '1W': 'weekly',
        '1M': 'monthly',
        '1Q': 'quarterly',
        '1Y': 'yearly'
    }

    label5 = widgets.Label("Please select the frequency:")
    dropdown5 = widgets.Dropdown(
        options=list(option_values.keys()),
        value='1h'
    )
    selected_value_widget = widgets.Label(option_values[dropdown5.value])
    
    dropdown5.observe(on_change, names='value')
    return widgets.VBox([label5, dropdown5]), selected_value_widget

# Call the function to create and display the dropdown
dropdown_ui, selected_value_widget = create_dropdown_frequency()
display(dropdown_ui)

VBox(children=(Label(value='Please select the frequency:'), Dropdown(options=('1h', '1D', '1W', '1M', '1Q', '1…

In [20]:
# Function to get the current selected value
def get_selected_value():
    return selected_value_widget.value

In [22]:
print(f"Initial selected value: {get_selected_value()}")

Initial selected value: daily

In [24]:
selected_value_widget

Label(value='daily')